{% extends 'partials/base.html'%} {% block title%}Reset
Password{%endblock%} {% load crispy_forms_tags %} {% block content%}

<div class="container">
	<div class="row mt-5 pt-3">
		<div class="col-md-6 offset-md-3 pr-10">
			<div class="card my-3 shadow">
				<div class="card-body">
					<h4>Reset Password</h4>
					<hr />
					<div class="alert alert-info">
						Enter Email and a mail will be sent with instructions
					</div>
					<form method="POST">
						{% csrf_token %} {{ form|crispy }}
						<input
							class="btn btn-primary btn-block"
							type="submit"
							value="Reset"
						/>
					</form>
					<hr />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}
